body {background: #2c2c2c;}

a {text-decoration: none;}

.sidebar {
    float: left;
    background: #4c4c4c;
    width: 110%;
    padding: 2.5%;
    height: 90vh;   /* процент экрана по вертикали */
    color: #fff;
    border-right: 5px solid #181818;
}

.contet_epta {
    /*padding: 2.5%;*/
    float: left;
    color: #151515;
    clear: both;
    /*margin: 20px 1%;*/
    text-align: center;
    /*width: 100%;*/
    background: #c6b787;
    margin-left: 12%;
    width: 780px;
    margin-top: 50px;
}

main .contet_epta p {
    max-width: 400px;
    margin: 50px 50px;
}


huiv span {
    font-size: 38px;
    /*margin-top: 50px;*/
    margin-left: 10px;
    font-weight: bold;
}


huiv ul {list-style: none;}

huiv ul li {
    font-size: 18px;
    color: #fff;
    display: block;
    margin: 20px -20px;
    transition: transform .1s ease; /* сглаживание, плавность анимации ховера с эффектом ease */
}

huiv ul li:hover, huiv ul a:hover  {
    color: #eb5959;
    transform: scale(1.15);
}

form {
    margin-left: 5%;
    width: 700px;
    margin-top: 50px;
}
